* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

header {
    height: 60px;
    /* background-color: rgb(226, 226, 226); */
}

.nav-left {
    float: left;
    margin: 10px;
}

.nav-left li {
    display: inline;
    margin-left: 16px;
}

.nav-right {
    float: right;
    margin: 10px;
}

.nav-right li {
    display: inline;
    margin-right: 16px;
}

.nav-left a, .nav-right a {
    color: #555555;
}

.main-logo {
    height: 18px;
    position: relative;
    top: -2px;
}

.search-bar {
    margin: 20px 0 0 530px;
    height: 24px;
    width: 400px;
    padding: 14px;
}

.icon {
    font-size: 30px;
    cursor: pointer;
}

.btn-sign-in {
    border: 2px solid #0004f0;
    padding: 6px;
    position: relative;
    top: -8px;
    background-color: rgba(255, 255, 255, 0);
    color: #0004f0;
    cursor: pointer;
}